/* CSS Document */
/*------------------- Algemene Styling -------------------*/

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    position: relative;
}


body {
    margin: 0;
    padding-bottom: 0;
    font-family: 'Montserrat', sans-serif;
}

body.noScroll {
    overflow: hidden;
}

body li {
    margin: auto;
}

/*------------------- Nav bar -------------------*/


nav {
    width: 100%;
    text-align: center;
}


ul:first-of-type {
    list-style-type: none;
    margin: 0;
    padding: 1em;
    position: fixed;
    z-index: 2;
    background-color: black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    transition: 0.5s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.51);
    /* hoe ver is de schaduw naar rechts, hoe ver naar beneden, hoe blurry en welke kleur */
}


li:first-of-type button {
    color: white;
    background: none;
    border: none;
    display: inline;
    position: relative;
    min-width: 5em;
    max-width: 20em;
    font-size: 0.8em;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

li:nth-of-type(4) button {
    display: inline;
    position: relative;
    min-width: 5em;
    max-width: 20em;
    font-size: 0.8em;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

button:focus {
    outline: white solid 3px;
}


ul:first-of-type li:nth-of-type(3) {
    color: white;
    background: none;
    display: inline;
    position: relative;
    min-width: 5em;
    max-width: 20em;
    font-size: 0.8em;
    cursor: pointer;
}

ul:first-of-type li:nth-of-type(2) {
    font-weight: 900;
    font-size: 0.7em;
    text-transform: uppercase;
}

ul:nth-of-type(2) {
    opacity: 0%;
    list-style-type: none;
    position: fixed;
    left: 0;
    top: -100em;
    width: 100%;
    z-index: 2;
    height: 100%;
    background-color: black;
    transition: 0.7s;
}

ul:nth-of-type(2).listOn {
    opacity: 100%;
    background: rgba(0, 0, 0, 0.9);
    top: 2.2em;
    transition: 0.7s;
}

ul:nth-of-type(2) li {
    text-decoration: none;
    text-align: left;
    font-weight: 600;
    text-transform: uppercase;
    margin: 1em;
    line-height: 400%;
    border-bottom: 1px solid grey;
}

li a {
    text-decoration: none;
    color: white;
    text-align: center;
}

/*------------------- Footer-------------------*/


footer a:focus {
    color: red;
}

footer {
    position: absolute;
    width: 100%;
    margin: 0em 0em 0em 0em;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.51);
}


/*-------------------landingspagina specifieke styling-------------------*/



.main section {
    width: 100%;
    position: relative;
    overflow: hidden;

}

.main main section:first-of-type {
    width: 100%;
    position: relative;
    background-color: #df0a1c;
    padding-bottom: 1em;
}

.main main section:first-of-type a {
    position: relative;
    background-color: #df0a1c;
    text-decoration: none;
    color: white;
    margin: auto -2em;
    left: 45%;
    top: 0.3em;
}

.main h2 {
    font-weight: 700;
    font-size: 1.7em;
    position: absolute;
    display: block;
    color: white;
    min-width: 100%;
    top: 25%;
    line-height: 90%;
    text-align: center;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 1);
    text-transform: uppercase;
    z-index: 1;
}

.main section:first-of-type h2 {
    font-weight: 700;
    font-size: 2em;
    color: white;
    min-width: 40%;
    max-width: 40%;
    justify-content: center;
    align-content: center;
}

.main section img {
    width: 100%;
    height: auto;
    transform: scale(1.1);
    transition: 2s;
}

.main section:first-of-type a:focus {
    color: black;
    background-color: white;
}

footer section a {
    display: block;
    text-decoration: none;
    padding: 1em;
    color: white;
    transition: 0.5s;
    top: 0;
    bottom: 0;
    overflow: hidden;
    border-bottom: 1px solid white;
    background-color: black;
}




.main img:hover {
    transform: scale(1.2);
    transition: 4s;
    z-index: -1;
    overflow: hidden;
}

.main a:focus img {
    transform: scale(1.2);
    transition: 4s;
    z-index: -1;
    overflow: hidden;
}

a:focus h2 {
    color: #df0a1c;
    text-shadow: 2px 2px 2px #000000;
}

footer section h2 {
    clip: rect(0 0 0 0);
}

.main section:first-of-type h2 {
    clip: rect(0 0 0 0);
}

/*verberg deze header visueel maar haalt het niet uit de pagina voor screenreaders */

/*-------------------duurzaamheidspagina specifieke styling-------------------*/

.article section {
    width: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* + h2 om niet de articles hieronder te laten groeien*/

.article a h2 + img:hover {
    transform: scale(1.3);
    transition: 4s;
}

.article a:focus h2 + img {
    transform: scale(1.3);
    transition: 4s;
}

.article a h2 + img {
    transform: scale(1.1);
    transition: 4s;
}

.article h1 {
    font-weight: 900;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    padding: 0.5em
}

.article section:first-of-type p {
    min-width: 20em;
    max-width: 45em;
    line-height: 140%;
    font-weight: 300;
    font-size: 1em;
    text-align: center;
    margin: auto;
    padding: 0em 1em 1em 1em;
}

.article section:nth-of-type(2) {
    text-align: center;
}

.article section:nth-of-type(2) img {
    overflow: hidden;
    height: 40em;
    width: 100em;
}

.article h2 {
    font-weight: 700;
    font-size: 1.7em;
    display: block;
    position: absolute;
    color: white;
    min-width: 100%;
    top: 25%;
    line-height: 90%;
    text-align: center;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 1);
    text-transform: uppercase;
    z-index: 1;
}

.article section:nth-of-type(2) h2 {
    font-weight: 700;
    font-size: 1.5em;
    position: relative;
    color: black;
    top: 25%;
    line-height: 0%;
    text-shadow: none;
    text-transform: none;
    z-index: 1;
    padding: 0.5em;
}

.article section:nth-of-type(2) {
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.51);
}

.article section:nth-of-type(2) p {
    font-size: 0.7em;
    text-align: left;
    padding: 0em 1em 0em 1em;
    min-width: 20em;
    max-width: 45em;
    line-height: 140%;
    margin: auto;
}

.article section:nth-of-type(2) button {
    color: white;
    background-color: black;
    padding: 0.5em 1em;
    margin: 1em 0em 1em 0.5em;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.article main button:focus {
    outline: 4px solid red;
}



.article main section:last-of-type {
    background-color: white;
    height: 40em;
    text-align: center;
}

.article main section:last-of-type h2 {
    text-shadow: none;
    color: black;
    text-transform: none;
    font-size: 2em;
    text-align: none;
    display: block;
    position: absolute;
    margin: auto;
    padding: none;
    top: 1em;
}

.article main section:last-of-type a {
    position: relative;
    display: block;
    top: 10%;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.51);
    min-width: 20em;
    max-width: 60%;
    overflow: hidden;
    margin: 1em auto;
    text-decoration: none;
}

.article main section:last-of-type a img {
    max-height: 20%;
    max-width: 100%;
}

.article main section:last-of-type img:hover {
    transform: scale(1);
    transition: 2s;
}

.article main section:last-of-type h3 {
    font-size: 0.8em;
    text-align: left;
    padding: 0em 1em 0em 1em;
    line-height: 60%;
    color: black;
}

.article main section:last-of-type p {
    text-align: left;
    font-size: 0.7em;
    padding: 0em 1em 0em 1em;
    line-height: 110%;
    color: darkgrey;
}

.article main section:last-of-type p:last-of-type {
    font-size: 0.7em;
    color: black;
}

.article main section:last-of-type button {
    position: relative;
    display: block;
    top: 7%;
    margin: 2.5em auto;
    border: none;
    font-family: "Montserrat", sans-serif;
    background-color: black;
    color: white;
    font-weight: 300;
    padding: 0.5em 1em;
    border-radius: 3px;
}

/*-----------------Light and darkmode switcher bij gebrek aan een efficientere methode maar zonder !important-----------------*/


.dark {
    background-color: black;
    color: white;
}

ul:first-of-type.light {
    background-color: white;
    color: black;
    transition: 0.5s;
}

a:first-of-type.light {
    background-color: white;
    color: black;
    transition: 0.5s;
}

a:nth-of-type(2).light {
    background-color: white;
    color: black;
    transition: 0.5s;
}

li:first-of-type button.light {
    background-color: white;
    color: black;
    transition: 0.5s;
}

li:nth-of-type(4) button.light {
    background-color: white;
    color: black;
    transition: 0.5s;
}

footer section a:nth-of-type(1).light {
    background-color: white;
    color: black;
    transition: 0.5s;
}

footer section a:nth-of-type(2).light {
    background-color: white;
    color: black;
    transition: 0.5s;
}

footer section a:nth-of-type(3).light {
    background-color: white;
    color: black;
    transition: 0.5s;
}
